<div class="main">
  <div class="container">
    <p>
      <strong>Chat Room: here you can chat!</strong>
    </p>
    <p>
      <strong>Owner user id:</strong>
      <%= @room.owner_id %>
    </p>

    <p>
      <strong>Participant user id:</strong>
      <%= @room.participant_id %>
    </p>

    <% @messages.each do |message| %>
      <div class="messages-index-item">
        <% if current_user.id == message.user_id then %> 
        <%= "user id#{@room.owner_id}: #{message.content}" %>
        <% else %>
        <%= "user id#{@room.participant_id}: #{message.content}" %>
        <% end %>

      </div>
    <% end %>
    <%= link_to 'Back to top', '/' %>
  </div>
  <%= form_tag("/rooms/#{@room.id}/create_message") do %>
    <div class="form">
      <div class="form-body">
        <textarea name="content"></textarea>
        <input type="submit" value= "post">
      </div>
    </div>
  <% end %>
  </div>
</div>